* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  background-color: red;
  position: absolute;
  bottom: 6%;
  left: 0;
  right: 0;
  background-color: #F8F9FA;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px,
  rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
  border-radius: 4px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar{
  width: 35%;
  height: 100%;
}

.info{
  width: 100%;
  height: 65px;
  background-color: #EDEDED;
  border-top-left-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-info{
  width: 30%;
  display: flex;
  align-items: center;
}

.info img{
  border-radius: 100%;
  width: 40px;
  margin-left: 10px;
}

#user{
  margin-left: 10px;
}

.right-icon{
  width: 15%;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.right-icon i{
  color: #919191;
  font-size: 16px;
}

.notifiche{
  width: 100%;
  min-height: 65px;
  background-color: #9ee1fe;
  display: flex;
  align-items: center;
}

#bell{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#bell i{
  color: #9ee1fe;
  font-size: 20px;
}

.notifiche h5{
  font-size: 12px;
}

.notifiche a{
  color: gray;
  font-size: 11px;
}

.search{
  width: 100%;
  height: 55px;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search{
  color: #919191;
}

.search input{
  width: 93%;
  border: 0;
  padding: 14px;
  border-radius: 5px;
  margin-left: 5px;
}

.list{
  width: 100%;
  height: calc(100%-185px);
}

.list li{
  list-style: none;
  min-height: 65px;
}

.bg-active{
  background-color: #cccccc;
}

.list-chat{
  display: flex;
  align-items: center;
}

.list-chat img{
  width: 50px;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 10px;
}

.info-c{
  margin-right: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-user{
  font-size: 14px;
}

.msg-user{
  font-size: 11px;
  color: gray;
}

.date-user{
  font-size: 8px;
  color: gray;
  margin-right: 10px;
  font-size: 10px;
}

.chat{
  width: 65%;
  height: 100%;
}