<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- FONTAWSOME  -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <!-- FONT -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Montserrat&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

      <!-- CUSTOM CSS -->
      <link rel="stylesheet" href="css/style.css">

      <!-- LUXON -->
      <script src=" https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js "></script>

      <!-- VUE JS  -->
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      

    <title></title>
</head>

<body>
  <main>
    <div class="background">
      <div id="app">

        <div class="container">

          <!-- SIDEBAR -->
          <div class="sidebar">

            <div class="info">
              <div class="left-info">
                <img src="./img/avatar_1.jpg">
                <h5 id="user">Alematri</h5>
              </div>

              <div class="right-icon">
                <i class="fas fa-spinner"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <div class="notifiche">
              <div id="bell">
                <i class="far fa-bell-slash"></i>
              </div>
              <div>
                <h5>Ricevi notifiche di nuovi messaggi</h5>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>

            <div class="search">
              <i class="fas fa-search"></i>
              <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            
            <ul class="list">
              <li class="list-chat"
                v-for="(contact, index) in contacts"
                :class="{ 'bg-active': selectedContactIndex === index }"
                @click="selectContact(index)">
                <img :src="contact.avatar">
                <div class="info-c">
                  <p class="name-user">{{ contact.name }}</p>
                  <p class="msg-user">{{ contact.messages[0].message }}</p>
                </div>
                <span class="date-user">{{ contact.messages[0].date }}</span>
              </li>
            </ul>

          </div>

          <!-- CHAT -->
          <div class="chat">

            <div class="info-chat">

              <div class="info-chat-left">
                <img :src="activeContact.avatar">
                <div class="info-c">
                  <div class="name-user">{{ activeContact.name }}</div>
                  <div class="msg-user">Ultimo accesso oggi alle 12:00</div>
                </div>
              </div>

              <div class="right-icon-chat">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>

            </div>

            <div class="main-chat">

              <div>
                <div v-for="(message, messageIndex) in activeContact.messages"
                class="message"
                :class="{ sent: message.status === 'sent', received: message.status === 'received' }"
                >{{ message.message }}
                  <div class="date-msg">
                    <span id="date">{{ message.date }}</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="write-chat">
              <span>
                <i class="far fa-smile"></i>
              </span>
              <input
              v-model="newMessage"
              placeholder="Scrivi un messaggio"
              type="text"
              @keydown.enter="sendMessage"
              >
              <span>
                <i class="fas fa-microphone"></i>
              </span>
            </div>


          </div>

        </div>
      </div>
    </div>
  </main>

  <script src="js/script.js"></script>
</body>

</html>